* {
  margin: 0;
  padding: 0;
}

.steps,
.count {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 3rem;
}

.step {
  height: 3rem;
  width: 3rem;
  font-size: 2rem;
  border-radius: 2rem;
  border: none;
}

.step-text,
.count-text {
  margin-left: 2rem;
}
.step-increment,
.count-increment {
  margin-left: 2rem;
}

.text{
      text-align: center;
      font-size: 2rem;
      
}