@import url("https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.5.0/css/flag-icon.min.css"); /* Import flag icons */

body {
  font-family: Arial, sans-serif;
  background-color: #f0f2f5;
  color: #333;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 500px;
  margin: 50px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.header {
  text-align: center;
  margin-bottom: 20px;
}

.select-box {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.select-box select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.input-box {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.input-box input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.button {
  width: 100%;
  padding: 10px;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 10px;
}

.button:hover {
  background-color: #0056b3;
}

.button.reset {
  background-color: #6c757d;
  margin-top: 1rem;
}

.button.reset:hover {
  background-color: #5a6268;
}

.result {
  text-align: center;
  margin-top: 20px;
  font-size: 1.2em;
}

.error {
  color: red;
  text-align: center;
  margin-top: 10px;
}
